@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --primary-font: "Lato", sans-serif;
    --display-font: "Merriweather", serif;
    --main-text-color: #232D2F;
    --light-text-color: #FFFFFF;
    --grey-background: #f8f8f8;

    --primary-color: #164050;
    --secondary-color: #40798C;
    --tertiary-color: #7adfb0;
    --quarternary-color: #3e8061;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14pt;
    font-family: var(--primary-font);
    margin: 0;
    color: var(--main-text-color);
    background: var(--primary-color);
}

button:not(:disabled) {
    cursor: pointer;
}

h1, h2, h3 {
    font-family: var(--display-font);
}