header {
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    column-gap: 1.5em;
    background: var(--primary-color);
    color: var(--light-text-color);
    border-bottom: 2px solid var(--tertiary-color);
}

.return-home {
    flex: 0 1 auto;
    background: none;
    border: none;
    color: var(--light-text-color);
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--display-font);
    text-shadow: 2px 2px 2px var(--tertiary-color);
    padding: 0;
}