.loading {
    padding: 1em;
    height: 75vh;
}

.placeholder {
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    background: linear-gradient(to bottom, rgba(0,0,0,0.02), rgba(0,0,0,0.05));
}