.nyms {
    width: 100%;
    padding: 2em 1em;
}

.nyms.syn {
    background-color: rgb(221, 243, 233);
}

.nyms.ant {
    background-color: rgb(245, 223, 223);
}

h3 {
    margin: 0;
    font-size: 0.9em;
    text-transform: uppercase;
    opacity: 0.7;
}

.nym {
    line-height: 150%;
    background: none;
    border: none;
    font-size: 1em;
}