.not-found {
    padding: 2em;
    width: 100%;
    min-height: 50vh;
}

.not-found-prompt {
    font-size: 1.1em;
    margin-bottom: 1.5em;
}

.searched {
    font-weight: bold;
    color: var(--secondary-color);
}

.suggestion {
    background-color: var(--secondary-color);
}

@media screen and (min-width: 640px) {
    .not-found {
        width: calc(640px - 4em);
        margin: auto;
    }
}

