.word {
    width: 100%;
    padding: 1em;
    background: var(--grey-background);
}

.word h2 {
    margin: 0;
    font-size: 1.3em;
}

.definition-section {
    padding: 0 1em 0 0.5em;
}

.part-of-speech {
    font-style: italic;
    margin-bottom: 0.5em;
}

ol {
    margin: 0;
    margin-bottom: 0.5em;
}

li {
    padding-left: 0.5em;
    line-height: 125%;
}